.faq-card {
    margin-bottom: 2rem;
}
.faq-item {
    margin-bottom: 1.2rem;
}

.faq-question {
    padding-left: 1rem;
}

.indicator {
}

.faq-answer {
    display: none;
    padding-left: 2rem;
}

.faq-answer-visible {
    display: block;
}

.active {
    display: block;
}

.contact-options {
}

.contact-option {
}

.contact-form {
}
.contact-form-hidden {
    display: none;
}
.contact-form-normal {
    display: block;
}

.formgroup {
}

.form-control {
}

.immideat-contact {
}

.button-group{
    margin-top: 1rem;
}